*{
    box-sizing: border-box;
}

html , body{
    margin: 0;
    padding: 0;
    font-family:"Montserrat",sans-serif;
}
.nav-header{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid yellow;
}
.nav-header a{
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    
    
}

.nav-container{
    height: 140px;
    width: 100%;
    background-color: #2C3E50;
    padding: 20px;
}
.menu-items{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.menu-items li{
    margin: 5px;
}
.profile-container{
    background: 
    #1ABC9C;
    padding: 60px 0;
}
.itens-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    
}
.profile-title {
    margin:35px 0 0 0;
    font-size: 2rem;

}
.title-portifolio{
    text-align: center;
    width: 700;
    height: 48px;
    font-size: 2rem;
    text-transform: uppercase;
    color: #2C3E50;
}
.profile-description{
    margin: 0;
    font-size: 1rem;
}
#portifolio{
    width: 100%;
    max-width: 960px;
    border-radius: 10px;
    
}
.portfolio-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portifolio-item{
    width: calc(100% - 40px);
    max-width: 420px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}
footer{
    background-color: #2C3E50;
}